/* Global Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition-duration: 0.3s;
  --section-main-padding-top: 100px;
  --section-main-padding-bottom: 100px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  $container-width: (768px, 750px), (992px, 970px), (1200px, 1170px);
  @each $i, $j in $container-width {
    @media (min-width: $i) {
      width: $j;
    }
  }
}

@import './components/main_title';

@import './sections/header';
@import './sections/landing';
@import './sections/articles';

@import './sections/utilities/animations';
