/* Global Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition-duration: 0.3s;
  --section-main-padding-top: 100px;
  --section-main-padding-bottom: 100px;
  --section-background-1: #fff;
  --section-background-2: #ececec;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  $container-width: (768px, 750px), (992px, 970px), (1200px, 1170px);
  @each $i, $j in $container-width {
    @media (min-width: $i) {
      width: $j;
    }
  }
}

@import './components/_main_title.scss';

@import './sections/_header.scss';
@import './sections/_landing.scss';
@import './sections/_articles.scss';
@import './sections/_gallery.scss';
@import './sections/_features.scss';
@import './sections/_testimonials.scss';
@import './sections/_team.scss';
@import './sections/_services.scss';
@import './sections/_our_skills.scss';
@import './sections/_work_steps.scss';
@import './sections/_events.scss';
@import './sections/_pricing.scss';
@import './sections/_videos.scss';
@import './sections/_stats.scss';

@import './sections/utilities/_animations.scss';
