/* Pricing */
.pricing {
  padding-top: var(--section-main-padding-top);
  padding-bottom: var(--section-main-padding-bottom);
  background-color: var(--section-background-2);
  position: relative;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      position: relative;
      background-color: #fff;
      box-shadow: 0 12px 20px 0 rgba($color: #000000, $alpha: 0.13), 0 2px 4px 0 rgba($color: #000000, $alpha: 0.13);
      text-align: center;
      z-index: 1;
      transition: var(--main-transition-duration);

      &::before,
      &::after {
        content: '';
        width: 0;
        height: 50%;
        background-color: #f6f6f6;
        position: absolute;
        z-index: -1;
        transition: var(--main-transition-duration);
      }

      &::before {
        left: 0;
        top: 0;
      }

      &::after {
        right: 0;
        bottom: 0;
      }

      &:hover::before,
      &:hover::after {
        width: 100%;
      }

      @media (min-width: 1200px) {
        &:hover {
          transform: scale(1.03);
        }
      }

      @media (min-width: 1200px) {
        &.popular {
          top: -20px;
        }
      }

      @media (max-width: 767px) {
        &.popular {
          order: -1;
        }
      }

      &.popular .label {
        position: absolute;
        writing-mode: vertical-rl;
        background-color: var(--main-color);
        color: white;
        font-weight: bold;
        padding: 10px 10px 35px 10px;
        font-size: 18px;
        right: 20px;
        width: 40px;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 88%, 0% 100%);

        /* old method
         &::before {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          border-color: transparent transparent white transparent;
          border-width: 20px;
          border-style: solid;
        }
        */
      }

      .title {
        font-weight: bold;
        margin: 30px 0;
        font-size: 25px;
        letter-spacing: -1px;
      }

      img {
        width: 80px;
        margin-bottom: 40px;
      }

      .price {
        margin-bottom: 20px;

        .amount {
          display: block;
          font-size: 60px;
          font-weight: bold;
          margin-bottom: 5px;
          color: var(--main-color);
        }

        .time {
          color: #777;
        }
      }

      ul {
        text-align: left;

        li {
          padding: 20px;
          border-top: 1px solid #eee;

          &::before {
            font-family: 'Font Awesome 5 free';
            content: '\f00c';
            margin-right: 10px;
            font-weight: 900;
            color: var(--main-color);
          }
        }
      }

      a {
        display: block;
        width: fit-content;
        border: 2px solid var(--main-color);
        margin: 30px auto 40px;
        color: var(--main-color);
        padding: 15px 20px;
        border-radius: 6px;
        font-weight: bold;
        transition: var(--main-transition-duration);

        &:hover {
          background-color: var(--main-color-alt);
          border-color: var(--main-color-alt);
          color: #fff;
        }
      }
    }
  }
}
